@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
}

body {
    font-family: Roboto, sans-serif;
}

.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    color: white;
    size: 10%;
}

.main {
    background-color: white;
    height: 100vh;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 40px;
}

img {
    width: 50px;
}

*{
    margin: 0;
    padding: 0;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 40px;
}

svg {
    width: 24px;
    height: 24px;
    margin-left: 5%;
    margin-right: 5%;
    fill: white;
}

.icon-text {
    margin-left: 20px;
    font-size: 20px;
}

.icon-text p {
    font-size: 25px;
    font-weight: 700;
}